
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

a, a:visited {
  color: #00B1F5;
  text-decoration: none;
}

a:hover {
  color: #F95E63;
  border-bottom: 1px dotted #F95E63;
}

h2 {
  color: #F95E63;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 2px solid #F95E63;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  color: #FBB200;
  font-weight: bold;
}

#container {
  width: 950px;
  margin: 0 auto;
}

.google-map {
  width: 800px;
  height: 400px;
  margin: 10px 0;
}

ul {
  margin-top: 20px;
  margin-bottom: 30px;
}

#example-list li {
  list-style-type: disc;
  list-style-position: inside;
}

#examples {
  border-top: 1px dotted #999;
}

#examples li {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px dotted #999;
}

.action-link {
  padding: 5px 10px;
  background: #B5D29C;
  border: 1px solid #999;
  text-decoration: none;
  color: #fff !important;
}

.action-link:hover {
  color: #F95E63 !important;
  border: 1px dotted #F95E63;
}

.code {
  background: #FEE6B5;
  padding: 10px;
  margin: 10px 0;
}